<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>


    <!--TODO: Instructions: Using MySQL, display all the contact entries in the database. Only the name, email and feedback message should be displayed on a page -->


    <body>
        <div class="container users-container">
            <h1>Registered Players</h1>
            <div class="mt-3 mb-3">
                <form action="/search" method="GET" class="d-flex " id="user-form">
                    <input type="email" id="user-email" name="email" class="form-control me-2 registered-form"
                        placeholder="Filter by email" required>
                    <button onclick="handleUserForm()" type="button" class="btn btn-primary"
                        id="user-button">Search</button>
                </form>
            </div>
            <div class="row">
                <% users.forEach(function(user) { %>
                    <div class="col-md-4"> <!-- 3 columns on medium and larger screens -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Your Details:</h6>
                                <p class="card-text"><strong>First Name:</strong>
                                    <%= user.fname %>
                                </p>
                                <p class="card-text"><strong>Last Name:</strong>
                                    <%= user.lname %>
                                </p>
                                <p class="card-text"><strong>Email:</strong>
                                    <%= user.email %>
                                </p>
                                <p class="card-text"><strong>Feedback:</strong>
                                    <%= user.feedback %>
                                </p>
                                <a href="/update/<%= user.id %>">Update</a>
                                <a href="/delete/<%= user.id %>">Delete</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>

    </body>
    <%- include('../partials/footer.ejs') %>

</html>